body {
    font-family: Tahoma;
    font-size: 16px;
    background-color: #3e6377;
    margin: 0;
    padding: 0;
}

p{
    text-align: justify;
}

.img-left {
    width: 175px;
    float: left;
    margin-right: 8px;
    width: 230px;
    height: 230px;
}

.img-right {
    width: 175px;
    float: right;
    margin-left: 8px;
    width: 230px;
    height: 230px;
}

.article{
	padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 6px;
}

.article h2 {
    background-color: #42375d;
    margin-top: 0px;
    margin-bottom:10px;
    padding-bottom: 5px;
    padding-top:5px;
    text-align: center;
    color: #ffd800;
}

.article h3 {
    font-weight: bold;
    color: #2a2f63;
    text-decoration: underline;
}

.article p {
    color: #2a2f63;
}

.cover{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 6px;
}

.cover h1{
text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: yellow;
        text-shadow: 8px 6px 26px blue;
}

.cover h2{
text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #87f5a0;
    text-shadow: 1px 1px 17px #f13deb;
}

.footer{
    height:25px;
    background: black;
    width: 100%;
}



.custom-navbar{
    height: 36px;
    padding-top:20px;
}

.custom-text-footer{
    font-size: 14px;
    color: yellow;
    text-shadow: -1px 2px 23px blue;
    text-align: center;
    margin-bottom:0px;
    margin-top:-7px;
}

.navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link {
    color: yellow;
}

.navbar-light .navbar-nav .nav-link{
    color: yellow;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: yellow;
}

.navbar-light .navbar-brand{
    color: yellow;
}

.btn-outline-success{
    color:yellow;
    border-color: yellow;
}

.carousel{
    margin-bottom: 5px;
}

.carousel-indicators li{
    background-color:#23230d;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #8cbec5;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #8cbec5;
}

.batas{
    margin-top:5px;
    margin-bottom:5px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    background-color: #343a40;
}

.dropdown-item{
    color:yellow;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color:#343a40;
    color:#8cbec5
}

.profile-pic{
    width: 100%;
    height: 102px;
}

.error{
    font-style: italic;
    color: red;
}

.produk-detail{
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 5px;
}

.produk-detail h1{
    font-size: 26px;
    font-weight: bold;
    color: #16da39;
}

.produk-detail p{
    font-style: italic;
    font-size: 14px;
}

.modal-content{
    background-color: black;
}

.modal-body{
    padding:0.1rem;
}

.modal-footer {
    display: flow-root;
    border-top: none;
}

.imagepreview{
    width: 100%;
    height: 100%;
}

#box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    top:50px;
}

h2{
    text-align:center;
    color:#fff;
}

.navbar-light .navbar-toggler-icon{
    background-color: #f8ff00;
}

.my-icon{
    float:right;
    display: inline-block;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after{
    content: '\f152';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after{
    content: '\f150';
}

#gambar-artikel{
    max-width: 82%;
    max-height: 100%;
    margin-top:5px;
    /*margin-bottom:5px;*/
    padding:3px;
    border:solid black 1px;
}

#gambar-carousel{
  max-width: 95%;
}

#email-header td{
  font-size: 1.25rem;
}

.tambah{
  margin-bottom:5px;
  float:right;
}

.no-btn{
  border:0px solid transparent;
  background-color: transparent;
  color:#007bff;
}

.dropzone{
    background-color: #8efaff;
    text-align:center;
    padding:17px;
}

/*.dropzone-style dz-started dz-message {*/
    /*!*font-weight: bold;*!*/
    /*display: block;*/
/*}*/

.note{
    font-weight: normal;
}

.img-thumbnail{
    width: 100%;
    height: auto;
    display: block;
}

.dropzone .dz-preview .dz-image{
    border-radius: 0px;
}

.modal-title{
    color:white;
}

.modal-body p {
    color:white;
    padding-left: 15px;
}

.tab-top-30{
    margin-top : 30px;
}

.carousel-caption h5{
    color:yellow;
}

.mesin{
    overflow-x:scroll;
    white-space:nowrap;
    margin-bottom:5px;
}

.mesin img{
    width: 27%;
}

#cboxCurrent{
    display:none;
}
